force-app/main/default/flows/Create_Password_For_Student.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Admission_Success</name>
        <label>Admission Success</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Admission Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Password For Student {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Password For Student</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Password</name>
        <label>Create Password</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Admission_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Password__c</field>
            <value>
                <elementReference>password</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Number__c</field>
            <value>
                <elementReference>$Record.Hall_Ticket_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Password__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Password</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hall_Ticket_No__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Student__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Dear &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: serif;&quot;&gt;{!$Record.Name_of_The_Candidate__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt; , &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Your Admission In Our College is Successfully Completed , Here Are your Credentials &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;StudentId = &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: serif;&quot;&gt;{!$Record.Hall_Ticket_No__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Password = &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: serif;&quot;&gt;{!password}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(17, 17, 17); font-family: serif; font-size: 16px; background-color: rgb(247, 247, 247);&quot;&gt;Please ensure to log in to our portal at &lt;/span&gt;&lt;span style=&quot;color: rgb(55, 134, 131); font-family: serif; font-size: 16px; background-color: rgb(247, 247, 247);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://edu51-dev-ed.develop.my.site.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(55, 134, 131); font-family: serif; font-size: 26px; background-color: rgb(247, 247, 247);&quot;&gt;College Portal&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: serif; font-size: 26px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(17, 17, 17); font-family: serif; font-size: 16px; background-color: rgb(247, 247, 247);&quot;&gt;and update your information . &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(17, 17, 17); font-family: serif; font-size: 16px; background-color: rgb(247, 247, 247);&quot;&gt;Thanks &amp;amp; Regards &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; font-family: serif;&quot;&gt;VIVEKANANDA COLLEGE OF COMPUTER SCIENCES (VKSD)&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Vivekananda@123</stringValue>
        </value>
    </variables>
</Flow>
